{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="mt-5 ">
    <div class="text-center">
        <img src = "{% static 'core/images/ruk.jpg' %}" alt="Profilepic"
        class="img-thumbnail" width="250px" height="150px">
    </div>

    <div class="mt-5 text-white mx-5 text-justify" >
        <h1 class="font-weight-bold st-font">Hello,</h1>
        <div class="px-4" style="line-height:2rem;">
            <p style="text-indent:100px;">I am <b class="text-warning">Rukhsar Khan Mev</b>
            I'm a Full Stack Web Developer.
            From the time I encountered coding, I couldn't keep my eyes off of it. 
            When I'm not writing code, I'm watching other people write it. I've tried to keep myself up to date
             with the latest technologies and so I can easily figure out tools that will be the best ones for 
             your ideas. I play Volleyball which keeps me physically healthy, which in turn helps my mind stay 
             healthy and productive. I meditate and read Self Development books to become a better version of
            myself. As of now, I'm reading "Zero to One", which is a guide to startups. Shoot me an email if
            you've got some great book recommendations.
            Want to work together? I'd love to hear from you.
            </p>
        </div>
    </div> 
    <div class="text-center">
        <a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
        <a href="{% url 'contact' %}" class="btn btn-outline-info my-3 mr-5">Contact</a>
    </div>
{% endblock content  %}
