{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
      <div class="mt-5">
         <h1 class="text-warning mb-5 border-bottom">Services </h1>

         <div class="row text-center text-white mb-5">
            <div class="col-sm-4">
               <i class="fas fa-code fa-2x mb-3 i-color"></i>
               <h3>FronEnd Development</h3>
               <p class="ss-color">Front end web development
                  services to build custom applications right from consulting,
                 development, maintenance and support.</p>
            </div>
            <div class="col-sm-4">
               <i class="fas fa-palette fa-2x mb-3 i-color"></i>
               <h3>Web Development</h3>
               <p class="ss-color">Web development services imply designing, building, integrating, scaling and maintaining dynamic 
               software solutions that work via intranet or internet.</p>
            </div>
            <div class="col-sm-4">
               <i class="fas fa-database fa-2x mb-3 i-color"></i>
               <h3>Backend Development</h3>
               <p class="ss-color">Backend development is one of the vital components of the application. 
               It helps in the process and manages data for the web and 
               mobile app.</p>
            </div>
         </div>
         
      </div>
</div>

{% endblock content %}